<section class="main">
    <div class="container">
        <div class="main__wrapper">
            <div class="main__image">
                <img class="large" src="./images/main/blarge.png" alt="">
                <img class="desktop" src="./images/main/bdesktop.png" alt="">
                <img class="laptop" src="./images/main/blaptop.png" alt="">
                <img class="tablet" src="./images/main/btablet.png" alt="">
                <img class="phone" src="./images/main/bphone.png" alt="">
            </div>
            <div class="main__title">
                <div class="main__title-text">
                    Дом бизнес-класса
                    для ценителей роскоши
                </div>
                <div class="main__title-logo">
                    <img src="./images/INCHAPIN.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>